#burger-menu {
    position: fixed;
    background-color: rgba(255, 234, 0, 1);
    width: 385px;
    height: 100%;
    padding: 20px;
    text-align: right;
    display: none;
    
}

#burger-menu img {
    display: inline-block;
    text-align: right;
}

#burger-menu ul {
    list-style: none;
    text-align: center;
}

#burger-menu a {
    text-decoration: none;
    color: #333333;
    font-size: 40px;
    margin-bottom: 20px;
}

#burger-btn:active {
    background: #bfbfbf;
}
 #burger-btn:hover {
    background: #fff;
    color: #000;
    transition: 700ms;
}
#burger-btn {
    padding: 14px 26px;
    background: #000;
    color: #fff;
    font-family: "Jost", "Arial";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
}