:root {
  --font-family-main: 'Jost', Arial, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-main);
  padding: 0px 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

header div {
    display: flex;
    align-items: center;
}

#right img {
    margin-left: 20px;
    cursor: pointer;
}

.nav-h {
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

.nav-h a {
    color: #000;
    text-decoration: none
}

.nav-h a:hover, .foot-nav a:hover {
    color: #E2B013;
}

.nav-h a:active, .foot-nav a:active {
    color: #94740d;
}

.nav-li {
    margin-right: 25px;
}

#b {
    display: none;
}

#burger-menu {
    position: fixed;
    background-color: rgba(255, 234, 0, 1);
    width: 385px;
    height: 100%;
    padding: 20px;
    text-align: right;
    display: none;
    
}

#burger-menu img {
    display: inline-block;
    text-align: right;
}

#burger-menu ul {
    list-style: none;
    text-align: center;
}

#burger-menu a {
    text-decoration: none;
    color: #333333;
    font-size: 40px;
    margin-bottom: 20px;
}

#buy-now, #burger-btn {
  padding: 14px 26px;
  background: #000;
  color: #fff;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
}

#buy-now:hover, #burger-btn:hover {
    background: #fff;
    color: #000;
    transition: 700ms;
}

#buy-now:active, #burger-btn:active {
    background: #bfbfbf;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 86px;
  color: #000000;
  font-family: var(--font-family-main);
  margin: 40px 0px;
}

h2 {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 46px;
}

h3 {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E2B013;
  width: max-content;
}

h5 {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 17px;
  margin-left: 15px;
}

#cards {
    text-align: center;
    max-width: 522px;
    justify-content: space-between;
    display: flex;
    margin-top: 86px;
}

.card img {
    margin-bottom: 15px;
}

hh4 {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

h6 {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 13px;
}

p {
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #333333;
}

#info1, #info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}

#info2 img {
    margin-right: 50px;
}

#info2 p {
    margin-bottom: 28px;
}

#info2 ul {
    list-style: none;
    display: flex;
    max-width: 400px;
}

#info2 ul li {
    margin-right: 10px;
    margin-bottom: 8px;
}

#info2 ul li div {
  padding: 9px 30px 9px 16px;
  background: #000;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.heading {
  padding: 6px 100px 16px 30px;
  background: #000;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #FFFFFF;
  max-width: fit-content;
  margin-bottom: 60px;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wrap2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrap div, .wrap2 div {
    padding: 29px;
    background-color: rgba(124, 124, 124, 0.1);
    margin-right: 46px;
    margin-bottom: 78px;
}
hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 68px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

footer div {
    margin-right: 50px;
}

#links {
    margin-top: 198px;
}

footer img {
    cursor: pointer;
    margin-right: 16px;
}

input {
    margin-top: 30px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#ad button {
    height: 40px;
    width: 100px;
    background: #000;
    color: #fff;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
}

#ad button:hover {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

#ad button:active {
    background: rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
}

.foot-nav {
    display: flex;
    justify-content: space-between;
}

.foot-nav ul {
    list-style: none;
    margin-bottom: 17px;
}

.foot-nav li {
    margin-bottom: 13px;
}

.foot-nav a {
  text-decoration: none;
  font-family: var(--font-family-main);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
}


@media (max-width: 1024px) {
  .wrap {
      display: block;
  }
  .wrap2 {
      grid-template-columns: repeat(2, 1fr);
  }
  .wrap div, .wrap2 div {
      width: fit-content;
      margin: auto;
      margin-bottom: 39px;        
  }
  h1 {
      font-size: 72px;
      font-family: var(--font-family-main);
  }
  h2 {
      font-size: 38px;
      font-family: var(--font-family-main);
  }
  #info1, #info2 {
      display: block;
      text-align: center;
  }
  #cards {
      margin: auto;
  }
  #info2 img {
      margin: auto;
  }
  #info2 ul {
      margin: auto;
  }
  .heading {
      margin: auto;
      margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
    .foot-nav {
        display: block;
    }

    .foot-nav li {
        margin-bottom: 9px;
    }

    .wrap2 {
        display: block;
    }
    .nav-li {
        margin-right: 15px;
    }

    #buy-now {
        padding: 9px 1px;
        font-size: 10px;
    }

    body {
        padding: 0px 10px;
    }
}

@media (max-width: 430px) {
    #b {
        display: inline-block;
    }

    .himg {
        max-width: 400px;
    }

    footer {
        display: block;
        text-align: center;
    }

    footer div {
        margin: auto;
    }

    .wrap img, .wrap2 img {
        max-width: 300px;
    }

    .heading {
        padding: 3px 50px 8px 15px;
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }

    .nav-h, #buy-now {
        display: none;
    }
}

@media (max-width: 385px) {
    #burger-menu {
        width: 345px;
        padding: 10px;
    }

    img, .himg {
        max-width: 350px;
    }

    p {
        font-size: 18px;
    }

    #info2 ul li div {
        font-size: 12px;
    }
}

@media (max-width: 321px) {
    body {
        padding: 0px;
    }

    #burger-menu {
        width: 325px;
    }

    .wrap div, .wrap2 div {
        padding: 0px;
    }

    .himg {
        max-width: 310px;
    }
}