.heading {
    padding: 6px 100px 16px 30px;
    background: #000;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    max-width: fit-content;
    margin-bottom: 60px;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wrap2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrap div, .wrap2 div {
    padding: 29px;
    background-color: rgba(124, 124, 124, 0.1);
    margin-right: 46px;
    margin-bottom: 78px;
}

