#buy-now {
    padding: 14px 26px;
    background: #000;
    color: #fff;
    font-family: "Jost", "Arial";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
}

#buy-now:hover {
    background: #fff;
    color: #000;
    transition: 700ms;
}

#buy-now:active {
    background: #bfbfbf;
}