.nav-h {
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

.nav-h a {
    color: #000;
    text-decoration: none
}

.nav-h a:hover {
    color: #E2B013;
}

.nav-h a:active {
    color: #94740d;
}

.nav-li {
    margin-right: 25px;
}